<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ProyectoEntities1" connectionString="metadata=res://*/ProyectoEntities.csdl|res://*/ProyectoEntities.ssdl|res://*/ProyectoEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=palanganos.database.windows.net;initial catalog=Proyecto;persist security info=True;user id=mata649;password=Jose2000;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Hospital.My.MySettings.ProyectoConnectionString" connectionString="Data Source=DESKTOP-MCHJ7I4\SQLEXPRESS;Initial Catalog=Proyecto;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>